# Android Studio: Settings > Editor > Code Style > Enable EditorConfig support

root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
max_line_length = 150
trim_trailing_whitespace = true
insert_final_newline = true

[*.{java,kt}]
indent_size = 4
# these are Intellij specific so they will only work in Android Studio / IDEA
ij_kotlin_name_count_to_use_star_import = 3
ij_kotlin_name_count_to_use_star_import_for_members = 3
ij_java_names_count_to_use_import_on_demand = 3
ij_java_class_count_to_use_import_on_demand = 3


[*.xml]
indent_size = 2
