name: Build Aliucord

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build-aliucord.yml
      - aliucord/**
      - .assets/data.json

jobs:
  build-aliucord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
        with:
          path: src

      - name: Checkout builds
        uses: actions/checkout@master
        with:
          ref: builds
          path: builds

      - name: Setup JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Setup Android SDK
        uses: android-actions/setup-android@3404b45d4c43e74e30dcad1a47fb89a0573f5a7e # v2.0.6

      - name: Build Aliucord
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          ./gradlew :aliucord:make
          cp aliucord/build/aliucord.zip $GITHUB_WORKSPACE/builds
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}

      - name: Push builds
        run: |
          cd $GITHUB_WORKSPACE/builds
          cp ../src/.assets/AndroidManifest.xml .
          if git diff --exit-code aliucord.zip >/dev/null; then
            # No changes to aliucord.zip, simply merge builds data.json and Aliucord data.json to keep the old aliucordHash
            jq -s '.[0] * .[1]' data.json ../src/.assets/data.json > data.json.new
            mv data.json.new data.json
          else
            # Changes to aliucord.zip, update aliucordHash
            jq ". + { aliucordHash: \"$(git --git-dir=../src/.git rev-parse --short HEAD)\" }" < ../src/.assets/data.json > data.json
          fi
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git pull
          git add .
          git commit -m "Build $GITHUB_SHA"
          git push
