name: Build Installer

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/build-installer.yml
      - installer/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@master
      with:
        path: src

    - name: Checkout builds
      uses: actions/checkout@master
      with:
        ref: builds
        path: builds

    - name: Setup Flutter
      uses: subosito/flutter-action@4389e6cbc6cb8a4b18c628ff96ff90be0e926aa8 # v1.5.3
      with:
        flutter-version: '2.8.0'

    - name: Build Installer
      run: |
        cd $GITHUB_WORKSPACE/src/installer
        echo "${{ secrets.keystore }}" | base64 -d > ../../keystore.jks
        echo "storePassword: ${{ secrets.keystorePassword }}" > android/key.properties
        echo "keyPassword: ${{ secrets.keyPassword }}" >> android/key.properties
        echo "keyAlias: Installer" >> android/key.properties
        echo "storeFile: ../../../../keystore.jks" >> android/key.properties
        flutter build apk
        mv build/app/outputs/flutter-apk/app-release.apk ../../builds/Installer-release.apk
        rm ../../keystore.jks
        rm android/key.properties

    # should be keept for first run so old installer users can update
    - name: Push builds
      run: |
        cd $GITHUB_WORKSPACE/builds
        git config --local user.email "actions@github.com"
        git config --local user.name "GitHub Actions"
        git pull
        git add .
        git commit -m "Build Installer $GITHUB_SHA"
        git push

    - name: Release
      run: |
        cd $GITHUB_WORKSPACE/src
        GIT_HASH="$(git rev-parse --short HEAD)"
        git tag $GIT_HASH
        git push origin $GIT_HASH
        gh release create $GIT_HASH -t "Installer $GIT_HASH" -n "Build Installer $GITHUB_SHA" ../builds/Installer-release.apk
