name: Build

on:
  push:
    branches:
      - main
    paths:
      - Aliucord/**

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Sleep for 4 minutes (waiting for installer build action)
      uses: kibertoad/wait-action@1.0.1
      with:
        time: '4m'

    - name: Checkout
      uses: actions/checkout@master
      with:
        path: 'src'

    - name: Checkout builds
      uses: actions/checkout@master
      with:
        ref: 'builds'
        path: 'builds'

    - name: Setup JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Setup Android SDK
      uses: android-actions/setup-android@v2

    - name: Setup
      run: |
        echo "$ANDROID_HOME/build-tools/29.0.2" >> $GITHUB_PATH
        mkdir -p ~/bin
        wget https://github.com/Aliucord/buildtool/releases/download/v0.1.0/buildtool -P ~/bin
        chmod +x ~/bin/buildtool
        chmod +x $GITHUB_WORKSPACE/src/gradlew
        echo "{\"aliucord\":\"$GITHUB_WORKSPACE/src\",\"outputs\":\"$GITHUB_WORKSPACE/builds\"}" > ~/config.json

    - name: Build Aliucord
      run: ~/bin/buildtool --config ~/config.json

    - name: Push builds
      run: |
        cd $GITHUB_WORKSPACE/builds
        cp ../src/.assets/AndroidManifest.xml .
        cp ../src/.assets/data.json .
        git config --local user.email "actions@github.com"
        git config --local user.name "GitHub Actions"
        git pull
        git add .
        git commit -m "Build $GITHUB_SHA"
        git push
