name: Publish Aliucord

on:
  push:
    paths:
      - .github/workflows/publish-aliucord.yml
      - aliucord/**

jobs:
  build-aliucord:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Setup JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Build Aliucord
        run: |
          chmod +x gradlew
          ./gradlew :Aliucord:publish -Pversion=${GITHUB_REF##*/}-SNAPSHOT
          ./gradlew :Aliucord:publish -Pversion=$(git rev-parse --short "$GITHUB_SHA")
        env:
          MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}
