# Test build on PR to make sure it compiles
name: Test

on:
  pull_request:
    paths:
      - Aliucord/**
      - DiscordStubs/**
      - gradle/**
      - settings.gradle
      - gradlew
      - gradlew.bat
      - gradle.properties
      - build.gradle

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Setup JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Setup Android SDK
      uses: android-actions/setup-android@3404b45d4c43e74e30dcad1a47fb89a0573f5a7e # v2.0.6

    - name: Setup
      run: |
        echo "$ANDROID_HOME/build-tools/30.0.3" >> $GITHUB_PATH
        mkdir -p ~/bin
        mkdir -p ~/builds
        wget https://github.com/Aliucord/buildtool/releases/download/v0.1.1/buildtool -P ~/bin
        chmod +x ~/bin/buildtool
        chmod +x $GITHUB_WORKSPACE/gradlew
        echo "{\"aliucord\":\"$GITHUB_WORKSPACE\",\"outputs\":\"$(realpath ~/builds)\"}" > ~/config.json

    - name: Build Aliucord
      run: ~/bin/buildtool --config ~/config.json
