name: PR Artifact

on:
  pull_request:
    paths:
      - .github/workflows/upload-pr-artifact.yml
      - Aliucord/**
      - gradle/**
      - settings.gradle
      - gradlew
      - gradle.properties
      - build.gradle

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Setup Android SDK
        uses: android-actions/setup-android@3404b45d4c43e74e30dcad1a47fb89a0573f5a7e # v2.0.6

      - name: Build Aliucord
        run: |
          cd $GITHUB_WORKSPACE
          chmod +x gradlew
          ./gradlew make

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: Aliucord
          path: $GITHUB_WORKSPACE/Aliucord/build/Aliucord.zip
